:root {
  --primary-color: #d9d9d9;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #232323;
  color: white;
  text-align: center;
  padding: 200px 20px;
}



.home p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 300;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 64px;
  font-weight: 400;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 300;
}

.home h5,
h1,
h2 {
  text-align: center;
}

.design {
  font-family: "Delicious Handrawn", cursive;
  font-size: 48px;
}

.develop {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.btn {
  background-color: var(--primary-color);
  font-size: 15px;
  padding: 15px 38px;
  border-radius: 10px;
}

.home-works {
  text-align: center;
  padding: 0 20px;
}

.design-projects-background {
  background-image: url(../designs/ink-design3.png);
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.design-projects {
  color: white;
  text-decoration: none;
  font-family: "Delicious Handrawn", cursive;
  font-size: 25px;
}

.front-end-projects-p {
  margin-bottom: 0px;
}

.front-end-projects {
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.grey {
  color: #808080;
}

.dark-blue {
  color: #4e82b1;
  
}

.light-blue {
  color: #84cde4;
  color: #20FFFF;
}

.orange {
  color: #d6965b;
  color: #DD7A1F;
}

@media (max-width: 900px) {

  .home p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.design {
  font-family: "Delicious Handrawn", cursive;
  font-size: 30px;
}

.develop {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.btn {
  background-color: var(--primary-color);
  font-size: 15px;
  padding: 10px 22px;
  border-radius: 10px;
}


  .design-projects-background {
    background-image: url(../designs/ink-design3.png);
    background-size: 180px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .design-projects {
    color: white;
    text-decoration: none;
    font-family: "Delicious Handrawn", cursive;
    font-size: 22px;
  }

  .front-end-projects {
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .code {
    font-size: 15px;
  }
}

.about-section {
 
  font-family: "Poppins", sans-serif;
  background-color: #232323;
  color: white;
  padding: 150px 100px;
}



.about-section h1 {
  text-align: left;

  font-size: 40px;
font-weight: 700;

}

.about-section p {
  font-size: 25px;
  text-align: left;
  margin-bottom: 30px;
 

}

.highlight {
  font-weight: 700;
  text-decoration: none;
}

.mine {
  border-radius: 500px;
}

.about-btn {
  text-align: left;
}

@media (max-width: 600px) {

  .about-section {
    padding: 0px;
  }

  .about-section h1 {
  text-align: center;
  font-size: 25px;
font-weight: 700;
}

.about-section p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}



}

.design-background {
  background-image: url(../designs/design-page-line-1.png), url(../designs/design-page-line2.png);;
  background-repeat: no-repeat;
  background-size: 80%, 80%;
  background-position: top right, bottom left;
}

.designs h1 {
  font-family: "Delicious Handrawn", cursive;
  margin-bottom: 150px;
}

.designs h3 {
  font-size: 22px;
  font-weight: 700;
}

small {
  color: #d6965b;
  font-size: 12px;
  line-height: 10px;
}

@media (max-width: 600px) {
  .works-background {
    padding: 100px 40px;
  }
.designs h1 {
  font-family: "Delicious Handrawn", cursive;
  margin-bottom: 100px;
  font-size: 35px;
}
.designs h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.designs p {
  font-size: 13px;
}

small {
  font-size: 10px;
}
}

.frontend-background {
  backdrop-filter: ;
}

.frontend h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  margin-bottom: 150px;
  font-size: 50px;
}

.frontend h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 25px;
}

.tools {
  font-size: 20px;
}

.link {
  font-size: 15px;
  text-decoration: none;
}

.portfolio {
  border: 1px #DD7A1F solid;
}